<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="false">

  <display-name>Welcome to Tomcat</display-name>

	<servlet>
		<servlet-name>ServletTest</servlet-name>
		<servlet-class>com.servlet.http.ServletDemo</servlet-class>
		<init-param>
			<param-name>container</param-name>
			<param-value>value</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletTest</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginDemo</servlet-name>
		<servlet-class>login.logindemo.LoginDemo</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginDemo</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
<!-- 	<description> cookie </description>
	<servlet>
		<servlet-name>CookieLogin</servlet-name>
		<servlet-class>cookie.LoginDemo</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CookieLogin</servlet-name>
		<url-pattern>/cookie</url-pattern>
	</servlet-mapping> -->
	
	
	<servlet>
		<servlet-name>userEmail</servlet-name>
		<servlet-class>cookie.UserEmailDemo</servlet-class>
	</servlet> 
	
	<servlet-mapping>
		<servlet-name>userEmail</servlet-name>
		<url-pattern>/authorized/user</url-pattern>	
	</servlet-mapping>
	
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	
</web-app>
